body {
    background-color: #F7ECDE;
}

.container {
    height: 30vh;
    position: relative;
}

.dotted-line::after {
    content: "";
    display: block;
    border-top: 2px dotted black;
    width: 80%;
    margin: 20px auto;
}

.container .title {
    font-family: "Pacifico", cursive;
    font-weight: 300;
    color: rgb(53, 46, 40);
    line-height: 60px;
    font-size: 50px;
    font-style: normal;
    z-index: 1;
    padding: 10px 20px;
}

.back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background-color: #FEC260;
    width: 23.3%;
    height: 10%;
    transition: all 0.3s ease, background-color 0.3s ease;
    z-index: -1;
}

.back:hover {
    height: 20%;
    transform: translate(-50%, -50%);
}


.container .save {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 25px;
    background: linear-gradient(to right, #40af2a, #ffbb00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.col-md-3 {
    font-weight: 700;
    font-size: 16px;
}

.line::after {
    content: "";
    display: block;
    border-top: 0.1px solid rgba(209, 206, 206, 0.747);
    width: 100%;
    margin: 0 auto;
}
